<!-- 
    <% %> -- execute that code only (run some function inside it)
    <%= %> -- embedd that variable directly into HTML

 -->
 <%- include("./partials/header")%> 
<div class="container">
<!-- <div class="jumbotron">
    <h1 class="display-4">Movie APP</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> -->
    <%if(moviesDump.Response === 'False'){%>
        <h1>Movie Not Found</h1>
    <%}else{%>
        <h1>Results Goes here</h1>
        <div class="row">
            <%moviesDump['Search'].forEach(function(movie){%>
                <div class="card" style="width: 18rem;">
                    <img src="<%=movie.Poster%>" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><%=movie.Title%></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/result/<%=movie.imdbID%>" class="btn btn-primary">Know More</a>
                    </div>
                </div>
            <%})%>
        </div>
    <%}%> 
<!-- <h1>Results goes Here</h1> -->
</div>
<%- include("./partials/footer")%> 